body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

link {
    display: none;
}

div {
    display: block;
}

.new-group {
    display: none;
}

.new-group.active {
    display: contents;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 108px !important;
    margin-right: auto;
    margin-left: auto;
}

.content {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
}

.content .content-overlay {
    background: rgba(3, 58, 110, 0.884);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
    opacity: 1;
}

.content-image {
    width: 100%;
    height: auto;
}

/* img {
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
} */

/* .content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.content-hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1;
}

.content-details h3,
h4,
h5,
h6 {
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 0.10em;
    margin-bottom: 0.5em;
} */

.outer-title h5 {
    color: rgba(0, 28, 54, 0.884);
    font-weight: bold;
    letter-spacing: normal;
}

.outer-title h6 {
    color: rgba(0, 28, 54, 0.884);
    font-weight: bold;
    letter-spacing: normal;
    font-size: small;
}

.content-details p {
    color: #ffffff;
    font-size: 0.8em;
}

.fadeIn-bottom {
    top: 80%;
}

.content-gotext {
    padding-top: 2em;
    color: #fff;
    font-size: 0.8em;
}

details summary::-webkit-details-marker {
    display: none;
}

.hidden {
    display: none;
}

.poc-text {
    padding: 5px;
    text-align: left;
    font-size: small;
    font-family: "Yanone";
    float: left;
}

.declass-text {
    font-family: "Yanone";
    padding: 5px;
    text-align: right;
    font-size: small;
    float: right;
}

.droid {
    width: 300;
    height: auto;
    align-content: center;
}

/* #cardContainer {
    display: contents; //do not enable this it will break the grid
} */

#customResultsContainer {
    display: none;
}

.results-grid {
    display:flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}