/* base styling */

.class-banner {
    height: 20px;
    line-height: 20px;
    color: #fff;
    background-color: #444d55;
    text-align: center;
    text-transform: uppercase;
}

/*specific styling but prob won't use */
.u .class-banner {
    background-color: #6baf61;
}