@font-face {
    font-family: 'Yanone';
    font-style: normal;
    font-weight: 400;
    src: local('Yanone Kaffeesatz Regular'), local('YanoneKaffeesatz-Regular'), url(yanone.ttf) format ('truetype');
}